networks:
  servicos:
    external:
      name: servicos

services:
  {{ mongo_db_hostname }}:
    image: mongo:latest
    environment:
       - MONGO_INITDB_ROOT_USERNAME: {{ mongo_db_username }}
       - MONGO_INITDB_ROOT_PASSWORD: {{ mongo_db_password }}
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
    ADD VOLUME HERE

  mesa-auth:
    image: "{{ docker_account }}/mesa-auth:latest"
    container_name: "{{ auth_service_name }}"
    restart: always
    environment:
        - SELF_NAME={{ auth_service_name }}
        - CLIENT_NAME={{ client_name }}
        - AUTH_SECRET={{ auth_secret }}
        - ENCRYPTION_KEY={{ encription_key }}
        - DB_HOST={{ mongo_db_hostname }}
    networks:
      - servicos