networks:
  servicos:
    external:
      name: servicos

services:
  {{ mongo_db_hostname }}:
    image: mongo
    environment:
       - MONGO_INITDB_ROOT_USERNAME: root
       - MONGO_INITDB_ROOT_PASSWORD: example
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet